*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator{
  width: 300px;
  height: 500px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: bisque;
}

form input{
  width: 100%;
  height: 150px;
  font-size: 2rem;
  padding: 1rem;
  color: rgb(252, 255, 204);
  background: black;
  text-align: right;
  border-radius: 12px;
  pointer-events: none;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  
}
.btn-yellow{
  background: rgb(163, 163, 67);
  color: rgb(253, 253, 253);
}
.btn-grey{
  background: rgb(117, 117, 94);
  color: rgb(255, 255, 255);
}
.btn-eq{
  background: rgb(83, 119, 54);
  color: rgb(255, 255, 255);
}
.btn-cl{
  background: rgba(126, 49, 49, 0.89);
  color: rgb(255, 255, 255);
}

button{
  flex: 0 0 22%;
  margin: 5px 0;
  border: 1px solid black;
  width: 60px;
  height: 52px;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.buttons button:hover{
  opacity: 0.8;
}